body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color: #282828;
}

header {
    background: #282828;
    color: whitesmoke;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 25px;
    /* gap: put space in between elements inside flexbox */
    gap: 10px;
}

li {
    cursor: pointer;
}

.logo {
    font-size: 18px;
    font-weight: 700;
}

.icon {
    width: 25px;
}

.align-right {
    margin-left: auto;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    margin: 30px 25px;
}

.item {
    position: relative;
}

.item-img {
    /*  image is an inline-level element 
    so browser adds some whitespace under the baseline 
    to adjust other inline elements.
    
    Need to make it a block element  */
    display: block;
    width: 100%;
}

.caption {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0 25px;
}

.img-banner {
    background: #cd6858;
    color: whitesmoke;
    padding: 10px;
    position: absolute;
    top:0;
    left:0;
}

button {
    border: none;
    padding: 10px;
    background:#cd6858;
    color: whitesmoke;
    font-weight: 700;
    cursor: pointer;

    /*  Default behavior of the child element in a flexbox is 
        vertically stretch to fill that containier */

    /* margin: auto 0 auto 0; */

    /*  Take control of an individual element alignment when it's inside a flexbox */
    align-self: center;
}

.chatbox-bg {
    background: #dda15e;
    width:40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 1px 5px #999;

    display: flex;

    /* position the chatbox in a fixed postion */
    position: fixed;
    right:6px;
    bottom: 6px;
}

.chatbox-img {
    width: 50%;

    /* center the bubble image inside the orange circle */
    margin: auto;
}