body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 300;
}

img {
    width: 150px;
}

.container {
    width: 570px;
    /* Testing purpose */
    /* border: 1px solid black; */
    margin: 0 auto;
}


.bold-text {
    display: block;
    font-weight: 900;
}

h1 .bold-text {
    font-size: 80px;
}

h2 .bold-text {
    font-size: 60px;
}

h1, 
h2 {
    font-weight: 300;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 36px;
    font-weight: 900;
}

.article-author {
    font-size: 16px;
}

a {
    color: #99D930;
    font-weight: 900;
}

a:hover,
a:active,
a:focus {
    color: #131313;
}

.header-intro,
.about-me,
.projects {
    padding: 100px 0;
}

.header-intro {
    background: #D7D7D7;
}

.about-me {
    background: #ffeaea;
}

.projects {
    background: #eaf9ff;
}