body {
    margin: 0;
    text-align: center;
    font-family: Poppins, sans-serif;
}

img {
    width: 350px;
    height: 200px;
}

#hero-section {
    background-image: url("images/sfu.jpg");
    background-size: cover;
    padding: 80px 100px 160px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero-title {
    margin-bottom: 10px;
    background: #a6192e;
    color: #faf1f3;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: 600;
}
#hero-intro {
    margin: 0;
    background: white;
    color: #434244;
    padding: 3px 10px;
    border-radius: 5px;
    font-weight: 400;
}

#activity-section {
    padding: 39px 100px 40px;
    background: #f5f5f5;
}

#activity-section-title {
    color: #434244;
    font-size: 25px;
    font-weight: 600;
}

.activity-container{
    display: flex;
    justify-content: space-around;
}

.activity-img {
    border-radius: 50%;
}

.activity-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activity-title {
    margin-top: 50px;
    margin-bottom: 17px;
    color: #414042;
    font-size: 18px;
    font-weight: 600;
}

.activity-content {
    margin: 0;
    color: #414042;
    font-size: 16px;
    width: 350px;
}