html, body {
    margin: 0;
    padding: 0;
}

.meme-container {

    /* 1st step */
    display: flex;
    width: 400px;
    height: 400px;
    background-image: url('husky.jpeg');
    background-size: cover;
    margin: 30px auto;
    box-shadow: 1px 1px 5px #999; 
}

.meme-text {
    background-color: black;
    padding: 10px 20px;
    color: white;
    width: 250px;
    /* 2nd step */
    /* give margin auto as opposite to the position we want to push */
    /* margin-left: auto;
    margin-right: auto ;
    margin-top: auto;
    margin-bottom: auto; */

    /* margin: auto; */

    margin: auto 0 0 auto;
}

h1 {
   font-size: 18px; 
}




