body {
    /* text-align only affect inline element, be careful of the block-level element */
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#3d405b, #b5838d);
    color: #ffe8d6;
}

h1, h2, h3, h4, p {
    text-shadow: 0px 0px 3px #22223b;
}

#yoshi-img {
    width: 150px;
    border-radius: 50%;
    border: 5px solid #cb997e;
    margin-bottom: 10px;
}

#bday-age {
    background: #cb997e;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #cb997e;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    /* Turn everything into a row(flex direction by default is row) */
    display: flex; 
    /* Change to column: Stack elements on top */
    flex-direction: column;
    /* Control the main axis now (horizontal) */
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    width: 500px;
    margin: 0px auto 10px;
}

.gift-hint {
    margin-top: 0;
}

.gift-img {
    /* img not center:
        since its wrapped indise div(by deafult is block), text align only
        center inline element inside its container */
        /* use margin left/right: auto technique */
    margin: 0 auto; 
    width: 530px;
    height: 430px;
    padding-right: 70px;
    background-image: url("images/hello.png");
    background-size: cover;
    border: 6px solid #cb997e;
    border-radius: 10px;
}

#gift-img-happy:hover {
    background-image: url("images/happy.gif");
}

#gift-img-hot:hover {
    background-image: url("images/hot.gif");
}

#gift-img-genius:hover {
    background-image: url("images/genius.gif");
}

#gift-img-badass:hover {
    background-image: url("images/badass.gif");
}

/* Specificity:  more specific a css selector is, higher priority 
    id selector more specific than class selector */
#gift-img-cheers {
    width: 400px;
    height: 200px;
    padding-bottom: 100px;
    padding-left: 10px;
}

#gift-img-cheers:hover {
    background-image: url("images/cheers.gif");
}

#footer {
    font-style: italic;
    width: 500px;
    margin: 40px auto 20px;

}

a {
    color: #ffe8d6;
}