body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: #6b705c;
    color: #ffe8d6;
}

h1, h2, h3, h4, p {
    text-shadow: 0px 0px 1px #22223b;
}

#yoshi-img {
    width: 150px;
    border-radius: 50%;
    border: 5px solid #cb997e;
    margin-bottom: 10px;
}

#bday-age {
    background: #cb997e;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #cb997e;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    /* Turn everything into a row(flex direction by default is row) */
    display: flex; 
    /* Change to column: Stack elements on top */
    flex-direction: column;
    /* Control the main axis now (horizontal) */
    align-items: center;
}