div {
    margin-top: 100px;
}

img {
    display: block; /* stacks on top, starts a new line and takes up the whole width */
    width: 300px;
}

input {
    display: block; /* display block stacks on top */
    width: 400px;
}
