@font-face {
    src: url("AntipastoPro-Light_trial.ttf");
    font-family: AntipastoPro;
}

body {
    color: #c9d1d5;
    background-image: url("https://media.giphy.com/media/8YvxhbQoVYPSt7pB94/giphy-downsized-large.gif");
    background-size: cover;
    text-align: center;
    font-family: AntipastoPro;
}

#main-logo {
    width: 150px;
}

.btn-join {
    color: #3a373e;
    font-weight: bold;
    font-size: 18px;
    background: #c9d1d5;
    border: none;
    padding: 6px 12px;
    font-family: inherit;
}

/* (#): id selector */
.underline {
    border-bottom: 3px solid #c9d1d5;
}