body {
    margin: 20px;
    /* web safe font */
    /* Entire font stack */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
    text-align: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    /* flexbox by default are display block */
    display: flex;
    /* Add horizontal space around the flex children */
    justify-content: space-around; 
    color: #2b2839;
    background: #ddebf8;
    border-bottom: 7px solid #d8cefe;
}

.lightbulb-img {
    width: 180px;
}

/* utility class: A class for a single CSS property */
.border {
    border: 1px dotted blue;
}