body {
    margin: 20px;
}

.card {
    padding: 20px;
    display: flex;
}

.lightbulb-img {
    width: 150px;
}

/* utility class: A class for a single CSS property */
.border {
    border: 1px dotted blue;
}